<div class="navigation-explore" data-panel="explore">
  <div class="current">
    <span class="title">{{page.component.title}}</span>
    <span class="version">{{page.version}}</span>
  </div>
  <ul class="components">
    {{#each site.components}}
    <li class="component{{#if (eq this @root.page.component)}} is-current{{/if}}">
      <span class="title">{{{./title}}}</span>
      <ul class="versions">
        {{#each ./versions}}
        <li class="version
          {{~#if (and (eq ../this @root.page.component) (eq this @root.page.componentVersion))}} is-current{{/if~}}
          {{~#if (eq this ../latestVersion)}} is-latest{{/if}}">
          <a href="{{{relativize @root.page.url ./url}}}">{{./version}}</a>
        </li>
        {{/each}}
      </ul>
    </li>
    {{/each}}
  </ul>
</div>
