<div class="toolbar" role="navigation">
  <button class="navigation-toggle"></button>
  {{#if siteRootUrl}}
  <a href="{{siteRootUrl}}" class="home-link{{#if page.home}} is-current{{/if}}"></a>
  {{/if}}
{{> breadcrumbs}}
{{> page-versions}}
  {{#if page.editUrl}}
  <div class="edit-this-page"><a href="{{page.editUrl}}">Edit this Page</a></div>
  {{/if}}
</div>
